<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/adminLogin.css" />

    <title>Admin</title>
  </head>

  <body>

    <div class="bg-img-con">
      <img
        src="/images/background.png"
        alt=""
        id="bg-bottom"
        class="img-fluid"
      />
    </div>

    <main class="d-flex flex-column flex-md-row align-items-center">
      <div class="img-div mr-5 d-none d-md-block">
        <img
          src="/images/3d-2.png"
          alt="img"
          class="img-fluid"
          style="max-width: 700px; width: 100%"
        />
      </div>

      <div class="main-div w-75">
        <div class="container">
          <h1 class="display-4 text-uppercase text-center">Admin</h1>
          <p class="lead text-center">Add user, events and certificates.</p>
        </div>

        <div class="container link-box flex-column flex-md-row">
          <a href="/registerevents" class="btn admin-btn my-3 w-100 mx-md-3">Add
            events</a>
          <a href="/registeruser" class="btn admin-btn my-3 w-100 mx-md-3">Add
            users</a>
          <a href="/certificates" class="btn admin-btn my-3 w-100 mx-md-3">Add
            certificates</a>
        </div>
      </div>


    </main>
    <div class="container-fluid border border-dark">
      <div class="container border border-dark">
        <h3 class="text-center">All Users</h3>
        <form action="/admin" method="delete" name="deleteuser">
          {{#each users}}
          <div class="row">
            <div class="col-md-3 border border-dark">
              <h3>{{this.email}}</h3>
            </div>
            <div class="col-md-3 border border-dark">
              <h3>{{this.name}}</h3>
            </div>
            <div class="col-md-3 border border-dark">
              <h3>{{this.gr_no}}</h3>
            </div>
            <div class="col-md-3 border border-dark p-2">
              <button type="submit" class="btn btn-primary">
                Delete
              </button>
            </div>
          </div>
          {{/each}}
        </form>
      </div>
    </div>

  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>


</body>
</html>