<div class="jumbotron jumbotron-fluid" style="margin-bottom:0">
  <div class="container">
    <p class="lead text-center">Nothing is impossible.</p>
  </div>
</div>

<div class="container-fluid border border-dark">
  <div class="container-fluid border border-dark ">
    <h3>Add user</h3>
    <div class="container border d-flex justify-content-center pt-5">

      <form action="/registeruser" method="POST" enctype="multipart/form-data" class="container w-75 ">
        <div class="form-group row">
          <!-- <label for="text1" class="col-4 col-form-label">Name</label>  -->
          <div class="col-8">
            <input id="text1" name="name" type="text" class="form-control" placeholder=" name">
          </div>
        </div>
        <div class="form-group row">
          <!-- <label for="text2" class="col-4 col-form-label">Email</label>  -->
          <div class="col-8">
            <input id="text2" name="email" type="email" class="form-control" placeholder="email">
          </div>
        </div>
        <div class="form-group row">
          <!-- <label for="text3" class="col-4 col-form-label">STUDENT ID</label>  -->
          <div class="col-8">
            <input id="text3" name="gr_no" type="text" class="form-control" placeholder="gr_no">
          </div>
        </div>
        <div class="form-group row">
          <!-- <label for="text3" class="col-4 col-form-label">year</label>  -->
          <div class="col-8">
            <input id="text3" name="year" type="text" class="form-control" placeholder="year">
          </div>
        </div>
        <div class="form-group row">
          <!-- <label for="text4" class="col-4 col-form-label">Avatar<label>  -->
          <div class="col-8">
            <input id="text4" name="avatar" type="file" class="form-control" placeholder="add avatar">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-8">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>