<div class="jumbotron jumbotron-fluid" style="margin-bottom: 0;">
    <div class="container">
        <p class="lead text-center title">Nothing is impossible.</p>
    </div>
</div>
<div class="container-fluid border border-dark">
    <div class="container-fluid border border-dark">
        <h3>Add Events</h3>
        <div class="container border border-dark d-flex justify-content-center pt-5">
            <form action="/registerevents" method="POST" enctype="multipart/form-data" class="container w-75">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Event Name</span>
                    </div>
                    <input type="text" class="form-control" name="name" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Short Description</span>
                    </div>
                    <input type="text" class="form-control" name="short_description" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Description</span>
                    </div>
                    <textarea class="form-control" name="description" id="description" aria-label="With textarea"
                        placeholder="Description limit upto 1000 characters"></textarea>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Date</span>
                    </div>
                    <input type="date" class="form-control" name="date" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlFile1">Example file input</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="badge">
                </div>

                <button class="btn btn-primary" type="submit">Submit</button>

            </form>
        </diV>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
<script>
    gsap.from('.title', 1.5, {
        y: "100%",
        ease: Power4.easeOut
    })
</script>