<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/registerevents.css" />

    <title>User</title>

</head>

<body>
    <img src="/images/Ellipse4.png" type="image" alt="" id="el4" />
    <img src="/images/Ellipse5.png" type="image" alt="" id="el5" />
    <img src="/images/Ellipse6.png" type="image" alt="" id="el6" class="img-fluid" />

    <div class="container-fluid text-center pt-4 pt-xl-5" style="position: relative;">
        <h1>ADD EVENTS</h1>
        <div class="container text-left mt-4 p-4 shadow">
            <form class="m-0 mt-3" action="/registerevents" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" placeholder="Event Name" />
                </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="short_description" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" placeholder="Short description" />
                </div>
                <div class="form-group">
                    <input type="file" class="file form-control" id="exampleInputPassword1" name="badge"
                        placeholder="Add Avatar" />
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" name="date" placeholder="Date" />
                </div>
               
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Type here.." name="description" id="description"
                        style="height: 100px"></textarea>
                </div>

                <div class="d-flex align-item-center justify-contenet-center mt-4 mb-2">
                    <button type="submit" class="subbtn my-2">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

</body>

</html>